{{ template "header" . }}
<div class="container-fluid page-body-wrapper">
             
            
{{ template "sidebar" . }}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Between Dates Reports </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Between Dates Reports</li>
          </ol>
        </nav>
      </div>
      <div class="row">
    
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="text-align: center;">Between Dates Reports</h4>
             
              <form class="forms-sample" method="post" action="between-date-reprtsdetails.php">
                
                <div class="form-group">
                  <label for="exampleInputName1">From Date:</label>
                  <input type="date" class="form-control" id="fromdate" name="fromdate" value="" required='true'>
                </div>
               <div class="form-group">
                  <label for="exampleInputName1">To Date:</label>
                  <input type="date" class="form-control" id="todate" name="todate" value="" required='true'>
                </div>
                <button type="submit" class="btn btn-primary mr-2" name="submit">Submit</button>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ template "scripts" . }}
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>